
@{
    ViewBag.Title = "SectionIndex";
    Layout = "~/Views/Shared/_SMSLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewHeaderName.sesctionHeaderName
            <small>@ViewHeaderName.sesctionHeaderName</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <section class="content">

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">@ViewHeaderName.sesctionHeaderName</h3>
                            <button onclick="AddSectionMaster()" class="btn btn-primary a-btn-slide-text pull-right">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                <span><strong>Add</strong></span>
                            </button>
                        </div>
                        <div class="box-body with-border">
                            <div id="_divsectionMasterList" class="col-md-6">
                            </div>
                            <div class="col-md-6" id="_divSectionMaster">

                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<script src="~/Scripts/Custom/Custome.js"></script>
<script>
    $(document).ready(function () {
        GetSectionList();
        CreateSectionMaster();
    });
    function AddSectionMaster() {
        CreateSectionMaster();
    }

    function CreateSectionMaster() {
        $.get("/SectionMaster/CreateSection", { id: 0 }, function (response) {
            $("#_divSectionMaster").html(response);
        });
    }
    function GetSectionList() {
        $.get("/SectionMaster/GetSectionList", function (response) {
            $("#_divsectionMasterList").html(response);
        });
    }

</script>
